<section class="list-animals">
	<div class="container">
		<div class="row">
			<article class="list-item">
				<ul class="tile-gallery">
			<% if @shrines.empty? %> 
					<p>No se encontraron eshriness en la lista!</p>				
			<% else %>
				<% @shrines.each do |shrine| %>
					<li class="col-lg-6 col-md-6 col-sm-6 column-6">
						<div class="shrines-item">
							<figure>
								<a href=""><%= image_tag "/shrines/#{shrine.id}/profile/#{shrine.image}" if shrine.image? %></a>
							</figure>
							<div class="details-of-shrines">
								<div class="head-name">
									<h3><a href=""><%= shrine.name %></a></h3>
								</div>
								<div class="shriness-habitat">
									
								</div>
							</div>
						</div>
					</li>
				<% end %>						
			<% end %>				
				</ul>
			</article>
		</div>
	</div>
</section>