<section class="specie-profile">
	<div class="container">
		<div class="row">
			<div class="col-lg-3 sidebar-specie">
				<figure>
					<%= image_tag "/shrines/#{@shrines.id}/profile/#{@shrines.image}"%>
				</figure>
				<ul>
					<li class="active">
						<a href="#desc">Descripción</a>
					</li>
				</ul>
			</div>
			<div class="col-lg-9 content-sidebar">
				<article class="spec">
					<h3><%= @shrines.name %></h3>
					<div id="desc" class="info-specie">
						<h4>Vista General</h4>
						<%= @shrines.description.html_safe %>
					</div>
					<div id="spot-im-frame-inpage" data-post-id="<%= @shrines.id %>"></div>
				</article>							
			</div>				
		</div>
	</div>
</section>