<section class="filter">
	<div class="container">
		<div class="article">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde et quae tempora, exercitationem animi, maxime sed, corrupti dignissimos accusantium provident, explicabo autem facere. Repellendus sed dolorum quaerat cupiditate obcaecati labore?</div>
	</div>
</section>
<section class="list-animals">
	<div class="container">
		<div class="row">
			<article class="list-item">
				<ul class="tile-gallery">
			<% if @species.empty? %> 
					<p>No se encontraron especies en la lista!</p>				
			<% else %>
				<% @species.each do |specie| %>
					<li class="col-lg-6 col-md-6 col-sm-6 column-6">
						<div class="specie-item">
							<figure>
								<a href=""><%= image_tag "/species/#{specie.id}/profile/#{specie.image}" if specie.image? %></a>
							</figure>
							<div class="details-of-specie">
								<div class="head-name">
									<h3><a href=""><%= specie.name %></a></h3>
									<p><%= specie.scientific_name %></p>
								</div>
								<div class="species-habitat">
									<p>Habitat: <span>Montañas, America del Sur</span></p>
									<p>País: <span><%= specie.country %></span></p>
									<p>Categoria: <span><%= Status.find(specie.statuses_id).name %></span></p>
								</div>
							</div>
							<div class="btn-details">
								<a href="">></a>
							</div>
						</div>
					</li>
				<% end %>						
			<% end %>				
				</ul>
			</article>
		</div>
	</div>
</section>