<section class="landing">
	<div class="overlay">
		<div class="container">
			<article class="info-main">
				<h1><a href=""><%= image_tag 'logo.png' %></a></h1>
				<p>Ayudemos a los animales en peligro de extinción</p>
				<hr class="divisor">
				<div class="buttons">
					<a href="" class="button-main fill">Ver lista de animales!</a>
					<a href="" class="button-main empty">¿Cómo ayudar?</a>
				</div>
			</article>
			<div class="down">
				<i class="icon down-ico">SCROLL</i>
			</div>
		</div>
	</div>	
</section>
<section class="about">
	<div class="container">
		<h2>Acerca</h2>
		<hr class="divisor">
		<p>Sómos una comunidad protectora de animales que busca ayudar a las especies que se encuentran en peligro de extinsión en Perú, nuestro principal objetivo es ser una herramienta para facilitar a las organizaciones que estan interesados por la protección de los animales y asi poder rescatar y aumentart las especies que estan a punto de desaparecer.</p>
	</div>
</section>
<section class="video">
	<div class="overlay">
		<div class="container">
			<article class="play-video">
				<a href="" class="icon play-ico">Play Video</a>
			</article>
		</div>
	</div>	
</section>
<section class="categories">
	<div class="container">
		<h2>Categorias</h2>
		<hr class="divisor">
		<div class="row">
			<div class="col-lg-4 col-md-4 col-sm-4 column-4">
				<div class="circle ep">
					<p>EP</p>
				</div>
				<h3>(24) En Peligro</h3>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 column-4">
				<div class="circle am">
					<p>AM</p>
				</div>
				<h3>(45) Amenaza</h3>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 column-4">
				<div class="circle vn">
					<p>VN</p>
				</div>
				<h3>(364) Vulnerable</h3>
			</div>
		</div>
	</div>
</section>
<section class="how-to-help">
	<div class="overlay">
		<div class="container">
			<h2>¿Cómo Ayudar?</h2>
			<hr class="divisor">
			<div class="row">
				<div class="col-lg-4 col-md-4 col-sm-4 column-4">
					<i class="icon volunteer-ico"></i>
					<h3>Voluntario</h3>
					<p>Gracias por su interes en ser voluntario! los animales en peligro de extinsión necesitan ayuda tosos los dias del año.</p>
					<a href="" class="button-main fill">Dona tu tiempo!</a>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-4 column-4">
					<i class="icon donate-ico"></i>
					<h3>Dona</h3>
					<p>Apoya a los proyectos o eventos, formemos un equilibro ecológico para el bienestar de todos.</p>
					<a href="" class="button-main fill">Ayuda hoy!</a>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-4 column-4">
					<i class="icon partner-ico"></i>
					<h3>Aliado</h3>
					<p>Registra tu ong, crea un proyecto para un animal en peligro de extinsion o crea eventos.</p>
					<a href="" class="button-main fill">Publica Ideas!</a>
				</div>
			</div>
		</div>
	</div>	
</section>
<section class="volunteer">
	<div class="container">
		<h2>Voluntarios en acción</h2>
		<hr class="divisor">
		<div class="row">
			<div class="col-lg-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit modi ducimus beatae commodi dicta quos, iusto obcaecati asperiores voluptatum fugiat. Quia quidem suscipit, saepe expedita officia eum corporis soluta asperiores!</div>
			<div class="col-lg-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi vitae laborum voluptatem fugiat accusamus cumque officia itaque sunt eveniet, similique odio, ut maiores quas, soluta omnis et. Ducimus, autem, laudantium!</div>
			<div class="col-lg-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum, sed? Ducimus voluptatem cupiditate, esse labore. Illo, laboriosam blanditiis temporibus officiis numquam velit delectus! Suscipit eveniet, impedit sed obcaecati repellendus, exercitationem?</div>
			<div class="col-lg-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto atque nostrum aliquid ut, modi quia consequuntur alias. Minima voluptatem, sed exercitationem asperiores repellendus eveniet ipsam, ipsa esse in provident natus.</div>
			<div class="col-lg-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit modi ducimus beatae commodi dicta quos, iusto obcaecati asperiores voluptatum fugiat. Quia quidem suscipit, saepe expedita officia eum corporis soluta asperiores!</div>
			<div class="col-lg-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi vitae laborum voluptatem fugiat accusamus cumque officia itaque sunt eveniet, similique odio, ut maiores quas, soluta omnis et. Ducimus, autem, laudantium!</div>
			<div class="col-lg-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum, sed? Ducimus voluptatem cupiditate, esse labore. Illo, laboriosam blanditiis temporibus officiis numquam velit delectus! Suscipit eveniet, impedit sed obcaecati repellendus, exercitationem?</div>
			<div class="col-lg-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto atque nostrum aliquid ut, modi quia consequuntur alias. Minima voluptatem, sed exercitationem asperiores repellendus eveniet ipsam, ipsa esse in provident natus.</div>
		</div>
	</div>
</section>

