<section class="landing">
	<div class="overlay">
		<div class="container">
			<article class="info-main">
				<h1><a href=""><%= image_tag 'logo.png' %></a></h1>
				<p>Ayudemos a los animales en peligro de extinción</p>
				<hr class="divisor">
				<div class="buttons">
					<a href="" class="button-main fill">Ver lista de animales!</a>
					<a href="" class="button-main empty">¿Cómo ayudar?</a>
				</div>
			</article>
			<div class="down">
				<i class="icon down-ico">SCROLL</i>
			</div>
		</div>
	</div>	
</section>
<section class="about">
	<div class="container">
		<h2>Acerca</h2>
		<hr class="divisor">
		<p>Sómos una comunidad protectora de animales que busca ayudar a las especies que se encuentran en peligro de extinsión en Perú, nuestro principal objetivo es ser una herramienta para facilitar a las organizaciones que estan interesados por la protección de los animales y asi poder rescatar y aumentart las especies que estan a punto de desaparecer.</p>
	</div>
</section>
<section class="video">
	<div class="overlay">
		<div class="container">
			<article class="play-video">
				<a href="" class="icon play-ico">Play Video</a>
			</article>
		</div>
	</div>	
</section>
<section class="categories">
	<div class="container">
		<h2>Ubicación por Categoria</h2>
		<hr class="divisor">
		<div class="row">
			<div class="col-lg-4 column-4">
				<ul>
					<p>Categorias de Extinción</p>
					<li>
						<div class="circle ep">
							<p>EP</p>
						</div>
						<h3>(20) En Peligro de extinsión</h3>
					</li>
					<li>
						<div class="circle am">
							<p>AM</p>
						</div>
						<h3>(20) Amenaza de extinsión</h3>
					</li><li>
						<div class="circle vn">
							<p>VN</p>
						</div>
						<h3>(20) Vulnerables</h3>
					</li>
				</ul>				
			</div>
			<div class="col-lg-8 column-8">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et architecto incidunt amet aliquam accusamus ratione explicabo nemo, saepe officia dolor quas corporis, sit numquam, rem reiciendis possimus voluptas magni expedita.
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis unde quas, soluta sequi repellendus impedit non quae asperiores fugit provident modi autem vel laboriosam, molestias veritatis adipisci consequatur veniam, minima?				
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste ad temporibus iure odit dolorem magni adipisci non eaque aspernatur. Voluptatem alias minima eligendi, deleniti quam ducimus eius ratione odit. Non.	
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit quo, mollitia, dolore aut enim expedita. Expedita dolor, accusamus perspiciatis in illum cumque ad recusandae ab consequuntur error a fugit, sequi?
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt dolorem dignissimos dolore, deleniti. Vel, alias. Magni quod architecto voluptas non impedit porro, illo, ipsa quas laboriosam quam facilis nam et.
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, libero ex, quas ipsam explicabo atque laborum quisquam facilis tempora doloremque dolor ipsa laudantium ad a saepe dolorum ab, repellat numquam.
			</div>
		</div>
	</div>
</section>
<section class="how-to-help">
	<div class="overlay">
		<div class="container">
			<h2>¿Cómo Ayudar?</h2>
			<hr class="divisor">
			<div class="row">
				<div class="col-lg-3 col-md-3 col-sm-3 column-3">
					<i class="icon volunteer-ico"></i>
					<h3>Voluntario</h3>
					<p>Gracias por su interes en ser voluntario! los animales en peligro de extinsión necesitan ayuda tosos los dias del año.</p>
					<a href="" class="button-main fill">Dona tu tiempo!</a>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-3 column-3">
					<i class="icon donate-ico"></i>
					<h3>Dona</h3>
					<p>Apoya a los proyectos o eventos, formemos un equilibro ecológico para el bienestar de todos.</p>
					<a href="" class="button-main fill">Ayuda hoy!</a>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-3 column-3">
					<i class="icon partner-ico"></i>
					<h3>Aliado</h3>
					<p>Registra tu ong, crea un proyecto para un animal en peligro de extinsion o crea eventos.</p>
					<a href="" class="button-main fill">Suma tu ONG!</a>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-3 column-3">
					<i class="icon partner-ico"></i>
					<h3>Colaborador</h3>
					<p>Nuestra lista no esta 100% completa, ¿conoces algun animal en peligro que no esta en la lista? añadelo tu mismo!</p>
					<a href="" class="button-main fill">Agrega Animales</a>
				</div>
			</div>
		</div>
	</div>	
</section>
<section class="last-projects">
	<div class="container">
		<h2>Proyectos Recientes</h2>
		<hr class="divisor">
		<div class="row">
			<div class="col-lg-3 col-md-3 col-sm-3 column-3">
				<div class="project">
					<figure>
						<img src="" alt="">
						<figcaption>
							Detalles
						</figcaption>
					</figure>
					<div class="project-detail">
						<p>Proyecto: Recaudación</p>
						<h3><a href="">Salvemos al condor Peruano</a></h3>
						<div class="progress-bar"></div>
						<div class="target">
							<div class="col-lg-4">
								<p class="big">60%</p>
							</div>
							<div class="col-lg-4">
								<p>13</p>
								<p class="small">Patrocinan</p>
							</div>
							<div class="col-lg-4">
								<p>S/. 600.00</p>
								<p class="small">Objetivo</p>
							</div>
						</div>
						<div class="share">
							<p>Compartir en:</p>
							<a href="" class="square">f</a>
							<a href="" class="square">t</a>
							<a href="" class="square">g+</a>
						</div>
						<div class="by-user">
							<spam>POR <a href="">YORESCATO</a></spam>							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

