<section class="filter">
	<div class="container">
		<div class="article">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde et quae tempora, exercitationem animi, maxime sed, corrupti dignissimos accusantium provident, explicabo autem facere. Repellendus sed dolorum quaerat cupiditate obcaecati labore?</div>
	</div>
</section>
<section class="list-animals">
	<div class="container">
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore veritatis at odit excepturi, ratione facilis dicta rem perspiciatis officiis, minus modi, impedit dolores cum inventore doloribus eligendi quaerat praesentium quo!
	</div>
</section>