// Variables

$naranja:  #f99d29;
$overlay: #161824;
$rojo: #e74b3b ;
// Fonts

@font-face {
    font-family: 'bariol_regular';
    src: url('/assets/bariol/bariol_regular-webfont.eot');
    src: url('/assets/bariol/bariol_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/bariol/bariol_regular-webfont.woff2') format('woff2'),
         url('/assets/bariol/bariol_regular-webfont.woff') format('woff'),
         url('/assets/bariol/bariol_regular-webfont.ttf') format('truetype'),
         url('/assets/bariol/bariol_regular-webfont.svg#bariol_regularregular') format('svg');
    font-weight: normal;
    font-style: normal;

} 
@font-face {
    font-family: 'fonarto_regular';
    src: url('/assets/fonarto/fonarto-webfont.eot');
    src: url('/assets/fonarto/fonarto-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonarto/fonarto-webfont.woff2') format('woff2'),
         url('/assets/fonarto/fonarto-webfont.woff') format('woff'),
         url('/assets/fonarto/fonarto-webfont.ttf') format('truetype'),
         url('/assets/fonarto/fonarto-webfont.svg#fonartoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: "Flaticon";
	src: url("/assets/icons/flaticon.eot");
	src: url("/assets/icons/flaticon.eot#iefix") format("embedded-opentype"),
	url("/assets/icons/flaticon.woff") format("woff"),
	url("/assets/icons/flaticon.ttf") format("truetype"),
	url("/assets/icons/flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
// General Classes
.button-main {
	border-radius:5px;
	color:#fff;		
	font-size:1.2em;	
	margin: 10px;			
	padding:10px 20px;
	text-decoration:none;
}
.blue {
	color:#41A9E5;
}
.fill {
	background:$rojo;
	border: 1px solid transparent;
	transition:all .3s ease;
}
.fill:hover{
	background:$overlay;
	color:#fff;
	text-decoration:none;
}
.empty {
	border: 1px solid #FFF;
	transition:all .3s ease;
}
.empty:hover{
	background:#fff;
	color:$overlay;
	text-decoration:none;
}

.circle {
	background: #4B485E;
	border-radius:50%;
	color:#fff;
	display:inline-block;
	height:42px;
	margin:0 5px;
	padding-top:4px;
	transition:all .3s ease;
	vertical-align:top;
	width:42px;
}
.divisor{
	background:rgb(232,75,60);
	border:0;
	height:1px;
	position:relative;
	width:100px;
}
.divisor:after{
	content: '';
	background:rgb(231,75,60);
	height:1px;
	left:5px;
	position:absolute;
	top:4px;
	width: 90px;
}
.icon {
	font-family: "Flaticon";
	font-style:normal;
}
.overlay {
	background:rgba(22,23,36, .75);
}

.save-fail{
	color:#DE1212;
}

.save-success {
	color:#16FF28;
}

// General Styles
a, a:hover, a:visited, a:link, a:active{
	text-decoration:none !important;
}

body {
	background: #f9f9fb !important;
	font-family: 'bariol_regular' !important;
	font-size:16px !important;
	text-align:center;
}
figure {
	margin:0;
	padding:0;
}
ul {
	list-style:none;
	margin:0;
	padding:0;
}
h2 {
	color:#4E4D61 !important;
	font-family: 'fonarto_regular' !important;
	margin:0;
}
p {
	color: #9F9595;
	line-height:1.5em;
}
.landing {
	background:url('/assets/images/condor.jpg') no-repeat center fixed;
	background-size:cover;
	position:relative;
	.overlay{
		height:100%;
		.container {
			.info-main{
				color:#fff;
				left:0;
				position:absolute;
				right:0;
				top:12%;
				h1 {
					margin:0;
					a {
						img {
							width:240px;
						}		
					}
				}
				p {
					color:#fff;
					font-size:1.6em;
					margin-bottom:40px;
				}
				.buttons{
					margin-top: 120px;					
				}
			}
			.down{
				bottom:3%;
				color:#fff;
				font-size:.75em;
				left:0;
				position:absolute;
				right:0;
				.down-ico:after {
					content: '\e006';
					margin-left:5px;
				}
			}
		}

	}
}
.about{
	padding: 4em 0;
	.container {
		p{
			font-size:1.5em;
			
		}
	}
}
.video {
	background:url('/assets/images/collage.jpg') no-repeat center fixed;
	background-size:cover;
	.overlay {
		height:100%;
		min-height:350px;
		position:relative;
		.container{
			.play-video{
				left:0;
				opacity: .6;
				position:absolute;
				right:0;
				top:40%;
				transition:all .3s ease;
				a {
					color:#fff;
					font-size:2em;
					text-decoration:none;
				}
				.play-ico {
					position:relative;
				}
				.play-ico:before {
					color: $rojo;
					content: '\e007';
					font-size: 2.5em;
					left:-90px;
					position:absolute;
					top: -40px;
				}
			}
			.play-video:hover {
				opacity:1;
			}
		}
	}
}
.categories {
	padding:4em 0;
	.container {
		.row {
			margin: 3em 0;
			.column-4 {
				ul {
					border-left:1px solid $rojo;
					li {
						margin: 1em;
						text-align:left;
						.circle	{
							display:inline-block;
							text-align:center;
							vertical-align:top;
							p {
								color:white;
								margin-top: .3em;
							}
						}
						.ep {
							background: $rojo;
						}
						.am {
							background: $naranja;
						}
						.vn {
							background: #B3B3B3;
						}
						h3 {
							display:inline-block;
							font-size:1.2em;
							margin-top:.4em;
							vertical-align:top;
						}
					}
				}
			}
			.column-8 {
				text-align:left;
			}
		}

	}
}
.how-to-help {
	background:url('/assets/images/gallito.jpg')no-repeat fixed center;
	background-size:cover;	
	color:white;
	.overlay {
		height:100%;
		padding:4em 0 6em 0;
		.container{
			h2 {
				color:#fff !important;
			}
			.row {
				margin:2em 0;
				.column-3{
					h3 {
						color: $rojo;
						font-family: 'fonarto_regular';
						margin-top:0;
					}
					p {
						color:#fff;
						font-size: 1.3em;
						margin-bottom: 1em;
					}
					.button-main:hover {
						color:#fff;
						text-decoration:none;						
					}
					.volunteer-ico:before {
						content: '\e005';
						font-size:5em;
					}
					.donate-ico:before {
						content: '\e001';
						font-size:5em;
					}
					.partner-ico:before {
						content: '\e004';
						font-size:5em;
					}
				}
			}
		}
	}
}

.last-projects{
	padding:4em;
	.container {
		.row {
			margin: 3em 0;
			.column-3 {
				.project {
					background:white;
					border: 1px solid #f2f2f2;
					border-radius: .5em;
					overflow:hidden;
					figure {
						padding:0;
						position:relative;
						img {
							width:100%
						}
						figcaption {
							background:#64A716;
							color:white;
							font-size: .75em;
							left:-75px;
							padding:0;
							position:absolute;
							top:30px;
							text-transform:uppercase;
							transform: rotate(-35deg);
							width: 100%;
						}
					}
					.project-detail{						
						text-align:left;
						.head-project {
							padding: .5em 1em;
							h3 {
								font-size: 1.2em;
								margin:0;						
							}
						}	
						.progress-bar {
							background: $rojo;
							height:3px;
							margin: .5em 1em 1em 0 ;
							width:100%
						}					
						.target {
							padding: 0 1em;
							text-align:center;
							.column-3, .column-4, .column-5{
								p {									
									margin:0;
									.small-t{
										font-size:.7em;
										margin:0;
									}
								}								
							}
						}
						.share {
							padding:5em 1em 1em 1em;  
							p {
								display:inline-block;
								margin:.1em;
								vertical-align:top;
							}
							.square {
								border-radius:.3em;
								display:inline-block;								
								height:25px;
								margin:.1em .2em;
								width: 25px;								
							}
							.facebook-ico {
								background:#3b5998;
							}
							.twitter-ico {
								background:#00aced;
							}
							.google-ico {
								background:#d34836;
							}
							.facebook-ico:before {								
								color:white;
								content: '\e002';
								font-size:1em;
								margin-left:5px;
							}
							.twitter-ico:before {								
								color:white;
								content: '\e009';
								font-size:1em;
								margin-left:5px;
							}
							.google-ico:before {								
								color:white;
								content: '\e003';
								font-size:1em;
								margin-left:5px;
							}
						}
						.by-user{
							background: $rojo;
							font-size: .75em;
							padding:.5em;
							text-align:center;
							span {
								a {
									color:white;
								}
							}
						}
					}					
					
				}
			}
		}
	}
}

footer {
	background: $overlay;
	color:#fff;
	padding:3em 0;
	text-align:left;
	.container {
		.row {
			.column-4 {
				form {
					.outline-submit {
						position:relative;
						input {
							background:none;
							border:1px solid #807D8E;
							border-radius: .3em;
							color:$rojo;
							outline:none;
							padding: .5em 2.5em .5em .75em;
							transition:all .3s ease;							
							width:100%;
						}
						input:focus {
							border:1px solid $rojo;
						}

						.button-submit {
							background:none;
							border:0;
							color:#807D8E;
							width:50px;
							text-align:right;
							font-weight:bold;
							outline:none;
							padding: .5em .75em;
							position:absolute;
							top:0;
							transition:all .3s ease;
							right:0;
							z-index:2;
						}
						.button-submit:hover {
							color: $rojo;
						}
					}					
				}
				.socials-icon {
					
					.facebook-ico:before {
						content: '\e002';
						font-size:1.5em;
						margin-left:8px;
					}
					.twitter-ico:before {
						content: '\e009';
						font-size:1.5em;
						margin-left:8px;
					}
					.google-ico:before {
						content: '\e003';
						font-size:1.5em;
						margin-left:10px;
					}
					.youtube-ico:before {
						content: '\e00a';
						font-size:1.5em;
						margin-left:8px;
					}
					.facebook-ico:hover {
						background:#3b5998;
						color:#fff;
						text-decoration:none;
					}
					.twitter-ico:hover {
						background:#00aced;
						color:#fff;
						text-decoration:none;
					}
					.google-ico:hover {
						background:#d34836;
						color:#fff;
						text-decoration:none;
					}
					.youtube-ico:hover {
						background:#c4302b;
						color:#fff;
						text-decoration:none;
					}
				}
			}
			.contact-button {
				margin-top:1.2em;
				.contact-ico {
					background: $rojo;
					border-radius: .3em;
					color:#fff;
					padding: .75em 2em;
					position:relative;
					text-align:left;
					text-decoration:none;
					width:100%;
				}
				.contact-ico:before {
					content: '\e008';
					margin-right: 5px;
				}
			}
		}
	}
}
// Media Queries
@media screen and (min-width: 320px) and (max-width: 666px){
	
	.landing {
		.overlay {
			.container {
				.info-main {
					top:8%;
					padding: 1em;
					h1 {
						a{
							img {
								width:180px;
							}
						}
					}
					p {
						font-size: 1.3em;
					}
					.buttons {
						margin-top :30px;
						.button-main {
							display: block;
							font-size:  1.2em;
						}
					}
				}
			}
		}
	}
	.about {
		.container {
			p {
				font-size:1.2em;
			}
		}
	}
	.video {
		.overlay {
			.container {
				.play-video {
					top:55%;
					.play-ico:before {
						left: 0;
						right: 0;
						top:-110px;
					}
				}
			}
		}
	}
	.how-to-help {
		.overlay {
			.container {
				.row {
					.column-4 {
						margin-top:2em;
						p {
							font-size: 1.2em;
						}
					}
				}
			}
		}
	}
	footer {
		.container {
			p {
				padding:1em;
				text-align: center;
			}
		}
	}

}
@media screen and (min-width: 667px) and(max-width: 1024px){
	
	.landing {
		.overlay {
			.container {
				.info-main {
					top:17%;
					padding: 1em;
					h1 {
						a{
							img {
								width:250px;
							}
						}
					}
					p {
						font-size: 2em;
					}
					.buttons {
						margin-top :30px;
						.button-main {
							display: inline-block;
							font-size:  1.5em;
						}
					}
				}
			}
		}
	}
	.about {
		.container {
			p {
				font-size:1.8em;
			}
		}
	}
	.video {
		.overlay {
			.container {
				.play-video {
					top:45%;
					.play-ico:before {
						left: -90px;
						top:-40px;
					}
				}
			}
		}
	}
	.how-to-help {
		.overlay {
			.container {
				.row {
					.column-4 {
						margin-top:2em;
						p {
							font-size: 1.7em;
						}
					}
				}
			}
		}
	}
	footer {
		.container {
			p {
				padding:1em;
				text-align: center;
			}
		}
	}

}
