<!DOCTYPE html>
<html>
<head>
  <title>Yorescato</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
 <div id="fullpage">
 	<%= yield %>
 </div>
<script>
	
	function setDimensions(){
		var windowsHeight = $(window).height();
		$('.landing').css('height', windowsHeight + 'px');
	}

	setDimensions();

	//when resizing the site, we adjust the heights of the image
	$(window).resize(function() {
		setDimensions();
	});

</script>
</body>
</html>
